<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>MeetupTitle</title>
  </head>
  <body>
    <div id="app">
      <div>

        <label v-for="el in 5">
          <input type="radio" name="radio" :value="el" v-model="checked">
          {{ el }}
        </label>
<!-- 
        <label><input type="radio" value="1" name="radio" @click="checked = 1"/> 1</label>
        <label><input type="radio" value="2" name="radio" @click="checked = 2"/> 2</label>
        <label><input type="radio" value="3" name="radio" @click="checked = 3"/> 3</label>
        <label><input type="radio" value="4" name="radio" @click="checked = 4"/> 4</label>
        <label><input type="radio" value="5" name="radio" @click="checked = 5"/> 5</label> -->

        <hr />

        <h3>{{ meetup.title }}</h3>
      </div>
    </div>

    <script type="module" src="script.js"></script>
  </body>
</html>
